---
---
<html>
    <div class="sidebar">
        <div class="footnote">
            <p>this site is 
                <a href="https://github.com/astrophysics108/delana">
                open source!
                </a>
            </p>
        </div>
    </div>
</html>

<style>
    .sidebar {
        background-color: #1b053f;
        width:30%;
        position:fixed;
        height: 100vh;
        top: 0;
        left:0;
        overflow: hidden;
        text-align: left;
        padding: 1em;
    }

    .sidebar :global(p) {
        font-family: "JetBrains Mono", monospace;
        color:#fdedff;
    }

    .sidebar :global(.footnote) {
        position:absolute;
        bottom:0;
        margin-bottom:10%;
        font-size:75%;
    }
</style>

<script>
    
</script>