---
import Layout from "../layout/main_layout.astro";
---

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <Layout title="Cool Stuff">
        <div id="maintext"></div>
    </Layout>

</html>

<script>
    fetch(String.raw`src\text_files\coolplaces.txt`).then(r => r.text())
    .then(text => {
        const p = document.createElement("p");
        p.textContent = text;
        p.style.whiteSpace = "pre-wrap";
        document.getElementById("maintext").appendChild(p);
    });
</script>