---
import pfp from "../../public/images/pfp.jpg";
import HeaderCard from "../components/headercard.astro"
import Star from "../components/star.astro";
import Card from "../components/card.astro";
import CardWrapper from "../components/cardwrapper.astro";

---

<html>
<meta charset="UTF-8">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <HeaderCard img_main={pfp.src}>
            <div class="text-wrapper">
                <h1 id="headertext">Hey there👋, I'm Delana</h1>
                <p>I'm a 14 year old... well... nerd... with a 
                    passion for physics, coding, maths, chemistry, 
                    art, and having fun!</p>
            </div>
            
        </HeaderCard>
        <CardWrapper>
            <div class = "top-bit">
                <h1>What do I do?</h1>
                <div class = "pwrapper" >
                    <p data-text="Turns out, I do a pretty eccentric collection of different things...">
                        Turns out, I do a pretty eccentric collection of different things...
                    </p>
                </div>
            </div>
            <div class = "card-wrapper">
                <Card>
                    <h1>Physics</h1>
                </Card>
                <Card>
                    <h1>Maths</h1>
                </Card>
                <Card>
                    <h1>Coding</h1>
                </Card>
                <Card>
                    <h1>Art</h1>
                </Card>
            </div>
        </CardWrapper>
       <div class="stars" id = "stars">
        <Star x="10" y="20">
       </div>
    </body>
</html>

<style>
    body{
        background-color:rgb(27, 8, 68);
    }
</style>