---
// Components
import HeaderCard from "../components_new/headercard.astro";
import Layout from "../layout/main_layout.astro";
---

<html>
    <Layout title="Home">
        <a href="/delana/cool_stuff"> Cool stuff </a>
    </Layout>
</html>