---
---

<style>
        

        .container {
           
        display: grid;
        min-height: inherit;
        grid-template-columns: 1fr;
        margin: 2em;
        overflow: hidden;
        padding: 2em ;
        text-align: center;
        text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7) !important;
        background: rgba(255,255,255,0.1);
        border-radius: 25px;
        backdrop-filter: blur(4px);
        border: 2px solid rgba(255,255,255,0.2);
    
        }
        .container :global(.card-wrapper) {
           
        display: grid;
        min-height: inherit;
        margin: 2em;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        padding: 2em ;
        text-align: center;
        text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7) !important;

    
        }

        @media only screen and (max-width: 1000px) {
            .container :global(.card-wrapper){
            grid-template-columns: 1fr;
            margin-bottom:2em;
            padding:0.5em;
            text-shadow: 8px 8px 20px rgba(255, 0, 0, 0.7) !important;
            }
        }

        .container :global(h1) {
            font-family: "Cascadia Mono", sans-serif;
            font-style: normal;
            color:white;
            font-size: 3em;
        }

        /* *, *::after, *::before {
        box-sizing: border-box;
        } */

        .container :global(.pwrapper) {
        font-family: "Cascadia Mono", sans-serif;
        color: white;
        text-align:center;
        margin: 0;
        overflow: hidden;
        }

 

</style>
<html>
    <div class = "container">
        <slot />
    </div>
    
</html>

    
