---
const { img_path = "" } = Astro.props;
const { img_main = "" } = Astro.props
---


<style>
    .container {
      display: grid;
      min-height: inherit;
      margin: 2em;
      grid-template-columns: 1fr 2fr;
      /*border: 3px solid #a49898;*/
      border-radius: 20px;
      overflow: hidden;
      padding: 2em ;
      /* background-image:url({img_path}); */
    text-align: center;
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7) !important;
  background: rgba(255,255,255,0.1);
  border-radius: 25px;
  backdrop-filter: blur(4px);
  border: 2px solid rgba(255,255,255,0.2);
    
     
    }
    .container:hover {
      transition: 0.4s;
    }
    .container :global(.wrapper) {
      height: inherit;
    }
  
    .container :global(h2) {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 600;
      font-style: normal;
    }

    .container :global(h1) {
      font-family: "Cascadia Mono", sans-serif;
      font-style: normal;
      color:white;
      font-size: 5em;
      text-align: left;
      
      
    }
    .container :global(h3) {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    .container :global(.date) {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 400;
      font-style: normal;
      color:white;
      
    }

    .container :global(p) {
      font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 400;
      font-style: normal;
      color:white;
      text-align: left;
      
      
    }


    .container :global(.text-wrapper) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.3em;
      flex-wrap:wrap;
      height: inherit;
      margin-left: 2em;
      text-align: left;
    }
    .container :global(.img_main){
      width:90%;
      height:auto;
      padding: 2em;
      transition: 0.5s;
      filter: drop-shadow(8px 8px 36px rgba(0, 0, 0, 0.4)) inset;
      border-radius: 50%;
      
    }

    .container :global(.typing){
      height: 2em;
      width:auto;
    }

    @media only screen and (max-width: 900px) {
        .container {
          grid-template-columns: 1fr;
          margin-bottom:2em;
        }
        .container :global(.text-wrapper) {
          text-align:center;
          margin-left: 0;
        }
        .container :global(h1) {
          font-size: 2em;
        }
      }

    .container :global(.logo:hover){
      transform:scale(1.1);
    }

    /* .container :global(a) {
      display: flex;
      width: fit-content;
      height: fit-content;
  
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 1em;
      padding-bottom: 1em;
  
      margin-top: 2em;
  
      align-items: end;
  
      border-radius: 10px;
      border: 2px solid #3b3a3a;
      background-color: white;
  
      font-family: "Lexend", sans-serif;
      text-decoration: none;
    } */
  </style>

  <script>
    var i = 0;
    var headertext = document.getElementById("headertext");
    if (headertext == null) {
    }
    else{
      var txt = headertext.innerHTML;
      var time = 70; 
      headertext.innerHTML = "";
      const extratext1 = "TensorCalculus";
      const extratext2 = "Astrophysics108";

      function typeWriter() {
        if (i < txt.length) {
          headertext.innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, time);
        }
       }
      document.addEventListener('DOMContentLoaded', function () {typeWriter()})
    }
    
</script>
  
  <div class="container" style={`background-image: url('${img_path}')`}>
    <img src={img_main} class="img_main">
    <slot />
  </div>
  