---
const { img_path = "" } = Astro.props;
---


<style>

    .container {
      display:block;
      min-height: 30vw;
      width: 1fr;
      margin: 2em;
      border-radius: 20px;
      padding: 2em ;
      border-radius: 25px;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover; 
      overflow: hidden;
    
     
    }
    .container:hover {
      transition: 0.4s;
    }
    @media only screen and (max-width: 900px) {
            .container {
                min-height: 70vw;
            }
        }


  </style>

  
  <div class="container" style={`background-image: url('${img_path}')`}>
    <slot />
  </div>
  