---
const { title } = Astro.props;
---
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <h1 id="pagetitle" data-text={title}></h1>
        <div class="container">
            <slot />
        </div>
    </body>
</html>

<style>
    body {
        background-color: #090117;
    }

    .container {
        text-align: left;
    }

    .container :global(p) {
        font-family: "JetBrains Mono", monospace;
        color:#fdedff;
    }

    h1 {
        font-family: "JetBrains Mono", monospace;
        color:#fdedff;
    }
</style>

<script is:inline>
  const el = document.getElementById("pagetitle");
  const text = el.dataset.text;
  let i = 0;

  const interval = setInterval(() => {
    el.textContent += text[i];
    i++;
    if (i >= text.length) clearInterval(interval);
  }, 100);
</script>