---
const { title } = Astro.props;
import Sidebar from "../components_new/sidebar.astro";
---
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap" rel="stylesheet">
        
    </head>
    <Sidebar></Sidebar>
    <body>
        <h1 id="pagetitle" data-text={title}></h1>
        <div class="container">
            <slot />
        </div>
    </body>
</html>

<style>
    body {
        background-color: #090117;
        margin-left: 35%;
    }

    .container {
        text-align: left;
    }

    .container :global(p) {
        font-family: "JetBrains Mono", monospace;
        color:#fdedff;
    }

    .container :global(a) {
        font-family: "JetBrains Mono", monospace;
        color:#f1cd6a;
    }

    .container :global(a:hover) {
        color:#fffbf0;
    }

    h1 {
        font-family: "JetBrains Mono", monospace;
        color:#fdedff;
    }
</style>

<script is:inline>
  const el = document.getElementById("pagetitle");
  const text = el.dataset.text;
  let i = 0;

  const interval = setInterval(() => {
    el.textContent += text[i];
    i++;
    if (i >= text.length) clearInterval(interval);
  }, 100);
  const interval2 = setInterval(() => {
    if (i % 18 == 0) {
        el.style.color = "#8055e6";
    }
    else if (i % 6 == 0) {
        el.style.color = "#090117";
    }
    else {
        el.style.color = "#fdedff";
    }
    i++;
  }, 1000);
</script>